html {
    font: Arial;
}
p{
    display: inline-block;
    color: #158eb5;
    vertical-align: top;
}
body {
    background-color: whitesmoke
}
.intro {
    color: #158eb5;
    margin-bottom: 3em;
}
.intro .name {
    margin-bottom: 0.5px;
}
.tagline {
    margin: 1px;
}
.add {
    cursor: pointer;
    background-color: white;
    color: black;
    padding: 12px;
    border: 2px solid #008CBA;
    transition-duration: 0.4s;
}
.add:hover {
    background-color: #158eb5;
    color: white;
}
#tasklist {
    margin-top: 1em;
}
.aTask {
    padding-left: 0.5em;
    margin-top: 16px;
    margin-bottom: 16px;
    padding-right: 1em;
}
input {
    height: 16px;
    width: 16px;
    border: 1px solid #dcdcdc;
    border-radius: 50%;
    cursor: pointer;
    margin-top: 16px;
    margin-bottom: 16px;
}
img {
    height: 16px;
    width: 16px;
}
[name] {
    text-decoration: line-through;
}
img {
    cursor: pointer;
}