html {
    font: Arial;
}
p {
    display: inline-block;
    color: #158eb5;
}
.aCheckbox {
    transition: opacity 0.3s;
    height: 16px;
    width: 16px;
    border: 1px solid #dcdcdc;
    cursor: pointer;
}
.aTrashcan {
    transition: opacity 0.3s;
}
.removed {
    opacity: 0;
}
body {
    background-color: whitesmoke;
    margin-left: 1.5em;
}
.intro {
    color: #158eb5;
    margin-bottom: 1.5em;
}
.intro .name {
    margin-bottom: 0.5px;
}
.tagline {
    margin: 1px;
}
.add {
    cursor: pointer;
    background-color: white;
    color: black;
    padding: 12px;
    border: 2px solid #008CBA;
}
.add:hover {
    background-color: #158eb5;
    color: white;
}
#tasklist {
    margin-top: 1em;
}
.aTask {
    padding-left: 0.5em;
    padding-right: 1em;
    transition: opacity 0.3s;
    font-size: 16px;
    padding-top: 3px;
}
img {
    width: 16px;
}
[name] {
    text-decoration: line-through;
}
img {
    cursor: pointer;
}
.inputText {
    width: 200px;
    height: 25px;
    cursor: text;
    border: 1px solid #158eb5;
    box-sizing: border-box;
    outline: none;
}
.inputText:focus {
    border: 2px solid #158eb5;
}
.taskDiv {
    height: 40px;
    align-items: center;
    display: flex;
    transition: opacity 0.3s;
}
#labelInput {
    height: 45px;
    align-items: center;
    display: flex;
}
.labelForBox {
    padding-left: 0.3em;
}